.sessionInactive
  a(href="/bubu-twitchalerts/login")
    button.btn.btn-xs.btn-primary(type="button", title="Login to TwitchAlerts")
      | Login to TwitchAlerts

.sessionActive
  .small
    | Logged into TwitchAlerts.
